In [1]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))
print(f"My name is {name} and I am {age} years old.")

My name is RESYA and I am 22 years old.

EVEN OR ODD

In [2]:
num = int(input("Enter a number:"))
if num%2 ==0:
    print("even number")
else:
    print("odd number")

even number

LIST OPERATION

In [3]:
numbers = [10, 20, 30, 40, 50]
print("sum:", sum(numbers))
print('Max:', max(numbers))
print("min:", min(numbers))

sum: 150
Max: 50
min: 10

FUNCTION EXAMPLE

In [4]:
def square(num):
    return num*num

print(square(5))

25

LOOP TASK

In [5]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10