In [10]:
import pandas as pd
pd.__version__

'2.3.3'

In [13]:
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [22, 24, 23],
    "Marks": [85, 90, 88]
}
df = pd.DataFrame(data)
print(df)

      Name  Age  Marks
0    Alice   22     85
1      Bob   24     90
2  Charlie   23     88

In [14]:
print(df["Age"].mean())
print(df["Marks"].max())

23.0
90

In [15]:
print(df[df["Marks"]>85])

      Name  Age  Marks
1      Bob   24     90
2  Charlie   23     88

In [12]:
import pandas as pd
df = pd.read_csv('https://people.sc.fsu.edu/~jburkardt/data/csv/airtravel.csv')
print(df.head())

  Month   "1958"   "1959"   "1960"
0   JAN      340      360      417
1   FEB      318      342      391
2   MAR      362      406      419
3   APR      348      396      461
4   MAY      363      420      472